* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: white;
}

h1 {
  text-align: center;
}

.styling {
  color: rgb(0, 179, 255);
}

.input_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  outline: none;
  border-radius: 25px;
  background-color: rgba(0, 255, 255, 0.39);
  height: 50px;
  width: 450px;
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.addButton {
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0, 119, 255, 0.39);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
